@import "tailwindcss";

@font-face {
  font-family: "ClashDisplay";
  src: url("/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.woff2")
      format("woff2"),
    url("/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.woff")
      format("woff");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-roboto-flex: var(--font-roboto-flex);
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "ClashDisplay", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  letter-spacing: 0.05em;
}
